*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #24231d;
}

.whole_form{
  position:relative;
  display: flex;
  height: 99vh;

}
.imgsec{
  height: 100vh;
  width: 35vw;
  z-index: 4;
  position: absolute;
  z-index: 20;
  top: 0%;

}
.imgsec2{
  height: 100vh;
  width: 100vw;
  /* z-index: 4;  */
  top: 0%;
  position: absolute;
  -webkit-backdrop-filter: blur(12px);
  

}
.title1{
  color: #24231d;
  position: relative;
  top: 2%;
  left: 50%;
  font-size: 50px;
  z-index: 4;
  animation: ani1 2s alternate ease-in;
}
@keyframes ani1 {
  0%{
    transform: translateX(-70px);
  }
  100%{
    transform: translateX(0);
  }
}

.title2{
  color: #24231d;
  position: relative;
  top: 3%;
  left: 23%;
  width: 59vw;
  z-index: 4;
  /* text-align: center; */
  font-size: 30px;
  animation: ani1 2s alternate ease-in;


}
.form_data{ 
  width: 65vw;
  height: 100vh;
  

  
}


.weather_form{
  height: 77vh;
  width: 36vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.451);
  border-radius: 15px;
  position: absolute;
  top: 18%;
  /* margin-top: 30px; */
  /* box-shadow: 4px 4px 10px rgba(30, 30, 30, 0.87); */
  left: 49%;
  /* display: flex; */

}


.lb1{
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #257629;
  position: relative;
 left: 4%;

  font-weight: 500;
  padding-top: 18px;
}
.inp1{
  margin-top: 4px;
  padding: 8px;
  width: 20vw;
  height: 2vh;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  position: relative;
  left:4%;
  border: 2px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #24231d



}


.btnn{
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 67%;
  box-shadow: 0 2px 3px #24231d;
  border-radius: 5px;
  top: 90%;
  font-size: 17px;
}


.btnn:hover{
  background-color: #257629;
  transform: scale(1.05);
}


.indx_img1{
  position: absolute;
  top: 36%;
  left: -4%;
}